body {
    background: black;
    text-align: center;
}
h1{
    color: white;
    text-align: center;
}
button {
    width: 500px;
    background-color: transparent;
    outline-color: white;
    outline-style: solid;
    outline-width: 5px;
    border: 10px transparent;
    color: white;
}
p {
    color: white;
    display: inline;
}